// top level items
#top-menu {
  font-family: @serifFontFamily;
  font-weight: 500;
  font-size: 1em;
  .nav > li {
	&:first-child {
	  a {
		padding: 10px 15px 10px 0px;
	  }
	}
	a {
	  color: @restonic-menu;
	  font-weight: bold;
	  text-shadow: 0 0px 0 transparent;

	  &:hover {
		color: @white;
	  }
	}
  } // end .nav > li

  // active class
  .active a {
	.box-shadow(0 0 0 transparent);
	background: transparent;
  }

  // parent child background
  .parent {
	.maximenuck2 {
	  background: @white;
	}
  }

  img {
	width: auto;
  }

  // child item customizations
  ul.nav > .parent ul li {
	min-width: 170px;
	padding: 8px !important;
	border-bottom: 1px dotted #ccc;
	&:last-child {
	  border-bottom: 0 none;
	}
	a {
	  color: @grayDark;
	  &:hover {
		color: @black;
		text-decoration: none;
	  }
	}
  }
} // end top menu

.navbar {
  border-bottom: 2px solid #fff;
  .nav {
	float: right;
  }
}

// sidebar menu
aside {
  .parent > ul {
	padding-left: 10px;
  }
  .nav > li > a:hover {
	background: transparent;
  }
} // end aside