
// break point for the min width
@media (min-width: 1200px ) {
  section {
	.main-body-row  {
	  .main-body {
		width: 1070px;
        > .search {
          .makeColumn(10.5, 2.85);
        }
	  }
      .main-body-sidebar {
        .makeColumn(10.5);
        margin-left: 30px;
      }
	}
  }
  header nav {
    margin-left: 30px;
  }

  .mattress-items {
    .makeColumn(7.5);
    .pull-right();
    .library-item {
      .makeColumn(2.5);
      &:first-child {
        margin-left: 0px;
      }
    }
  }
  .library-collection-description {
    .makeColumn(7.5);
  }
  .main-body {
    > .not-found {
      border: 1px solid #8c8d8e;
      .border-radius(5px);
      .not-found-error {
        padding: 20px;
      }
    }
  }
}

@media (max-width: 1199px) {
  // responsive tabs

  .main-body {
    #restonicTabs,
    #restonicContent {
      .makeColumn(9, 2.85);
    }
  }

  .main-body {
    > .not-found {
      .makeColumn(12,0);
      margin-left: 0px;
    }
  }

  footer {
    .footer-nav {
      .makeColumn(2.3);
      &:first-child {
        .makeColumn(2.3, 0);
      }
    }
  }
  .snippet {
    ul {
      li {
        .snippet-image {
          .makeColumn(1.3, 0);
        }
      }
    }
  }

  body.blog {
    #itemListPrimary {
      .catItemImageBlock {
        float: none;
        clear: both;
      }
      .catItemReadMore {
        position: relative;
      }
    }
  }

  #top-menu .nav > li {
    // all the mattress items
    #menu-comfort-care-signature,
    #menu-comfort-care-select,
    #menu-comfort-care,
    #menu-healthrest-tempagel,
    #menu-healthrest-latex,
    #menu-healthrest-memory-foam {
      width: 106px;
      height: 104px;
    }
  }

}

@media (min-width: 980px) {
  #mattress-item, #mattress-collection {
    .mattress-logo {
      .hidden(); // temporary during development
    }
  }

  .collection-items {
    .collection-item-image {
      .makeColumn(4.8);
      margin-right: 10px;
    }
    .collection-item-logo {
      margin-top: 30px;
    }
  }
}


@media (max-width: 979px) {
  .mattress-logo {
    padding-bottom: 10px;
    .center-block();
  }

  .library-collection-description {
    .center-block();
    .text-center();
    width: 100%;
  }

  .collection-description {
    .center-block();
    .text-center();
  }
  .mattress-items {
    .center-block
  }
  .collection-items, {
    .center-block();
    width: 100%;
  }

  .main-body {
    #restonicTabs,
    #restonicContent,
    .library-description  {
      .center-block();
      width: 100%;
    }
  }

  section {
    .main-body-row  {
      // hide at tablet and below
      aside {
        .hidden;
      }
      .main-body-sidebar {
        .center-block();
        width: 100%;
      }
    }
  }
  .main-body {
    > .not-found {
      width: 100%;
      background: transparent;
      .text-center();
      min-height: 200px;
      .not-found-error {
        margin-top: 0px;
      }
    }
  }

  // hide snippet content
  .snippet {
    .hidden();
  }
}

// 100% everything for smallest devices
@media (max-width: 767px) {
  header {
    .logo {
      .center-block();
      .text-center();
      padding-bottom: 5px;
    }
    .search-social {
      .center-block();
      width: 100%;
      .text-center();
      .search, .social {
        .center-block();
        .text-center();
      }
    }
    nav {
      .center-block();
      .text-center();
      width: 100%;
    }
    section {
      margin-left: auto;
    }
  }
  .mattress-logo {
    .text-center();
  }
  .mattress-description, .main-body-sidebar {
    .center-block();
    .text-center();
    width: 100%;
  }
  .mattress-item-description {
    .center-block();
    width: 100%;
  }
  .main-banner {
    margin: 0 -20px;
    .container {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
    .slide-content {
      left: 0px;
      right: auto;
      bottom: 0px;
      width: 100%;
      background-color: rgba(255,255,255,0.7);
    }

  }
  #top-menu {
    .nav {
      > li {
        padding: 0 17px 0 17px;
        clear:both;
        &:first-child {
          padding: 0 0px 0 17px;
        }
        &:last-child {
          padding: 0 17px 0 0;
        }
        .image-nav {
          img {
            display: none;
          }
        }
      }
    }
    .dropdown-menu {
      li {
        float: none;
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  #mod-finder-searchform {
    display: none;
  }

  #restonicContent {
    .center-block();
    .text-center();
    width: 100%;
    .form-inline {
      input {
        margin: 10px 0px;
      }
    }
    #results {
        .retailer-location {
          padding: 1px 0px 14px 0px;
      }
    }
  }
  .mattress-item-image {
    top: auto;
  }
  .mattress-item-tip-image,
  .mattress-item-tip-text,
  .mattress-items,
  .collection-description {
    float: none;
    .text-center();
    .center-block();
    width: 100%;
  }
  .mattress-item-description {
    .text-center();
  }

  footer {
    .footer-nav {
      &:nth-child(odd) {
        .makeColumn(2.5, .8);
        clear:both;
      }
    }
  }

  body.blog {
    .main-body-sidebar {
      text-align: left;
    }
    #itemListPrimary {
      .catItemImageBlock {
        float: left
      }


    }
    .catItemBody .catItemReadMore {
      position: relative;
    }
  }
}

@media (max-width: 620px) {
  .mattress-items {
    .library-item {
      float: none;
      .center-block();
      &:first-child {
        margin-left: auto;
      }
    }
  }
  footer {
    .footer-nav {
      .makeColumn(2.5, 0);
      &:nth-child(odd) {
        .makeColumn(2.5, 0);
        clear:both;
      }
    }
  }
}