body.home {
  //background: url('../images/family-bg.jpg') no-repeat;
  background-size: cover;
}

body, html {
  height: 100%;
}

#site-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -@fixedFooterHeight;
}

header {
  padding-top: 15px;
  padding-bottom: 10px;
  section {
	.makeRow();
  }
  .logo {
	.makeColumn(3);
  }
  .search-social {
	.makeColumn(5.5);
	.pull-right();
	.search {
	  .makeColumn(2.55);
      margin-left: 5px;
      input.search-query {
        .border-radius(5px);
        border-color: @black;
        .input-medium();
      }
	}
	.social {
	  margin-left: 0px;
      .pull-right();
      padding-top: 4px;
      ul {
        margin: 0px;
        li {
          display: inline;
          list-style: none;
          padding-right: 5px;
          &:last-child {
            padding-right: 0px;
          }
        }
      }
	}
  }
  nav {
	.makeColumn(10.5);
  }
  .navbar {
    border-bottom: 1px solid @black;
  }
}

section {
  .main-body-row {
	aside {
	  .makeColumn(3);
      margin-left: 0px;

	}
	.main-body-sidebar {
	  .makeColumn(9);
	}
  }
}

.main-body {
  > .not-found {
    .makeColumn(10.5);
    margin-left: 250px;
    background: url('../images/page-background-404.jpg') no-repeat top right;
    min-height: 650px;
    .not-found-error {
      margin-top: 200px;
    }
  }
}

.main-banner {

  ul, li {
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  .img-container {
    position: relative;
    img {
      width: 100%;
      display: block;
    }
  }
  .container {
    position: relative;
    z-index: 10;
  }
  .slide-content {
    position: absolute;
    .makeColumn(5);
    right: 0px;
  }
  .awards-content {
    position: absolute;
    .makeColumn(6);
    height: 100px;
    bottom: 120px;
    right: 15%;
    .womens-choice {
      .makeColumn(2);
    }
    .bestbuy, .womens-choice {
      .pull-left();
      margin-left: 0px;
    }
    .bestbuy {
      .makeColumn(4);
    }
  }
}

footer {
  height: @fixedFooterHeight;
  padding-top: 20px;
  position: relative;
  z-index: 999;
  .footer-nav {
    .makeColumn(2.7);
  }
  .footer-row {
    .makeRow();
    padding-bottom: 20px;
  }

  .footer-nav-wrapper {
	.makeColumn(10.5, 3);
	.footer-nav {
	  .makeColumn(3);
	}
  }
}

.home footer {
  padding-top: 0px;
}

// all pages
.breadcrumb {
  padding: 4px 0px;
  margin: 0 0 0px;
  background: transparent;
}

.navbar {
  margin-bottom: 0px;
}

.img-rounded {
  .border-radius(5px);
}