body.home {
  //background: url('../images/family-bg.jpg') no-repeat;
  background-size: cover;
}

body, html {
  height: 100%;
}

#site-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -@fixedFooterHeight;
}

header {
  padding-top: 15px;
  padding-bottom: 10px;
  section {
	.makeRow();
  }
  .logo {
	.makeColumn(3);
  }
  .search-social {
	.makeColumn(4.8);
	.pull-right();
	.search {
	  .makeColumn(2.55);
      margin-left: 15px;
      input.search-query {
        .border-radius(5px);
        border-color: @black;
      }
	}
	.social {
	  margin-left: 0px;
      .pull-right();
      padding-top: 4px;
      ul {
        margin: 0px;
        li {
          display: inline;
          list-style: none;
          padding-right: 5px;
          &:last-child {
            padding-right: 0px;
          }
        }
      }
	}
  }
  nav {
	.makeColumn(10.5);
  }
  .navbar {
    border-bottom: 1px solid @black;
  }
}

#background {
  margin-top: 107px;
  .mc-image {
	background-position: top center !important;
  }
  .in-slide-content {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 100px;
	.slide-text {
	  position: absolute;
	  right: 0px;
	  &#about-restonic {
		width: 210px;
	  }
	  &#comfort-care-couple {
		width: 340px;
	  }
	  &#restonic-signature {
		width: 275px;
		top: 120px;
	  }
	  &#restonic-blog-couple {
		width: 567px;
	  }
	  &#restonic-comfort-care-signature-family {
		width: 340px;

	  }
	  &#restonic-tempagel-mattress {

	  }
	  &#restonic-collection-couple {
		  width: 433px;
	  }
	}
  }
  .container {
	position: relative;
  }
}

#push {
  height: @fixedFooterHeight;
}

section {
  .main-body-row {
	//.makeRow();
	aside {
	  .makeColumn(3);
      margin-left: 0px;

	}
	.main-body-sidebar {
	  .makeColumn(9);

	}
	.main-body {
	  //.makeColumn(12);
	}
  }
}

.main-banner {

  ul, li {
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  .img-container {
    position: relative;
    img {
      width: 100%;
      display: block;
    }
  }
  .container {
    position: relative;
    z-index: 10;
  }
  .slide-content {
    position: absolute;
    .makeColumn(5);
    right: 0px;
  }
  .awards-content {
    position: absolute;
    .makeColumn(6);
    height: 100px;
    bottom: 120px;
    right: 15%;
    .womens-choice {
      .makeColumn(2);
    }
    .bestbuy, .womens-choice {
      .pull-left();
      margin-left: 0px;
    }
    .bestbuy {
      .makeColumn(4);
    }
  }
}

footer {
  height: @fixedFooterHeight;
  padding-top: 20px;
  position: relative;
  z-index: 999;
  .footer-nav {
    .makeColumn(2.7);
  }
  .footer-row {
    .makeRow();
    padding-bottom: 20px;
  }

  .footer-nav-wrapper {
	.makeColumn(10.5, 3);
	.footer-nav {
	  .makeColumn(3);
	}
  }
}

.home footer {
  padding-top: 0px;
}

/*
**
** commenting out this code until I actually need it

.align-bottom {
  padding-top: 31px;
}


.home {
  header {
    .container {
    }
    .span3 {
      padding: 15px;
      margin: 0 auto;
      background: url('../images/overlay.png') repeat;
	  min-height: 200px;
    }
    .span9 {

      padding: 15px;
    }
  }
  // end header css

  // section for mainbody css
  section#mainbody {
    .container {

    }
    .span9 {
	  padding: 0px 15px 0px 15px;
    }
    .span3 {
      background: url('../images/overlay.png') repeat;
    }
  }
  // end mainbody

  #bottom {
	.container > .span5 {
	  background: url('../images/gold-overlay.png') repeat;
	  padding: 14px;
	}
  }

  // footer css
  footer {

  }
  // end footer css
}

// header css
.inside {
  header {
    .container {
      background-color: @grayLight;
    }
    .span3 {
	  padding: 0px 15px 0px 15px;
      margin: 0 auto;
    }
    .span9 {
      background-color: @gray;
	  padding: 0px 15px 0px 15px;
    }
  }
  // end header css

  // section for mainbody css
  section#mainbody {

	aside {
	  padding-left: 2%;
	}
  }
  // end mainbody

  // footer css
  footer {

  }
  // end footer css
}

** ending
*/


// all pages
.breadcrumb {
  padding: 4px 0px;
  margin: 0 0 0px;
  background: transparent;
}

.navbar {
  margin-bottom: 0px;
}

