body.home {
  //background: url('../images/family-bg.jpg') no-repeat;
  background-size: cover;
}

body, html {
  height: 100%;
}

#site-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -@fixedFooterHeight;
}

header {
  padding-top: 15px;
  padding-bottom: 10px;
  section {
	.makeRow();
  }
  .logo {
	.makeColumn(3);
  }
  .search-social {
	.makeColumn(5.5);
	.pull-right();
	.search {
	  .makeColumn(2.55);
      margin-left: 5px;
      input.search-query {
        .border-radius(5px);
        border-color: @black;
        .input-medium();
      }
	}
	.social {
	  margin-left: 0px;
      .pull-right();
      padding-top: 4px;
      ul {
        margin: 0px;
        li {
          display: inline;
          list-style: none;
          padding-right: 5px;
          &:last-child {
            padding-right: 0px;
          }
        }
      }
	}
  }
  nav {
	.makeColumn(10.5);
  }
  .navbar {
    border-bottom: 1px solid @black;
  }
}

section {
  .main-body-row {
	aside {
	  .makeColumn(3);
      margin-left: 0px;
	}
	.main-body-sidebar {
	  .makeColumn(9);
	}
  }
}

.main-body {
  > .not-found {
    .makeColumn(10.5);
    margin-left: 250px;
    background: url('../images/page-background-404.jpg') no-repeat top right;
    min-height: 650px;
    .not-found-error {
      margin-top: 200px;
    }
  }
}

.main-banner {

  ul, li {
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  .img-container {
    position: relative;
    img {
      width: 100%;
      display: block;
    }
  }
  .container {
    position: relative;
    z-index: 10;
  }
  .slide-content {
    position: absolute;
    .makeColumn(5);
    right: 0px;
  }
  .awards-content {
    position: absolute;
    .makeColumn(3);
    bottom: 55px;
    right: 15%;
    .womens-choice {
      .makeColumn(2);
    }
    .bestbuy, .womens-choice {
      .pull-left();
      margin-left: 0px;
    }
  }
}

footer {
  height: @fixedFooterHeight;
  padding-top: 20px;
  position: relative;
  z-index: 999;
  .footer-nav {
    .makeColumn(2.7);
  }
  .footer-row {
    .makeRow();
    padding-bottom: 20px;
  }

  .footer-nav-wrapper {
	.makeColumn(10.5, 3);
	.footer-nav {
	  .makeColumn(3);
	}
  }
}

.home footer {
  padding-top: 0px;
}

// all pages
.breadcrumb {
  padding: 4px 0px;
  margin: 0 0 0px;
  background: transparent;
}

.navbar {
  margin-bottom: 0px;
}

.img-rounded {
  .border-radius(5px);
}

// custom table layout
.restonic-warranty-card {
  color: @restonicRed;
  font-size: .8em;
  border: 1px solid #626166;
  .border-radius(5px);
  th {
    background-color: @restonicRed;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
  }
  td {
    text-align: center;
    border-top: 1px solid @restonicRed;
  }
}

// snippet layout
.snippet {
  ul {
    .cleanList();
  }
  li {
    .makeRow();
    margin-bottom: 3px;
    margin-top: 4px;
    .snippet-image {
      .makeColumn(1.3);
      margin-top: 6px;
      img {
        .border-radius(5px);
      }
    }
    .snippet-content {
      .makeColumn(9.2);
      h2 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
    .readmore-container {
      .makeColumn(1.5);
      position: relative;
      height: 88px;
      a {
        .btn();
        .btn-primary();
        display: block;
        bottom: 0px;
        position: absolute;
      }
    }
  }
}

// hide the disabled button
#form_2 {
  .btn[disabled] {
    display: none;
  }
}

.cleanList() {
  list-style: none;
  list-style-type: none;
  margin: 0px;
  li {
    list-style: none;
    list-style-type: none;
  }
}