.home {
  #bottom {
  	.container > .span5 {
	  color: @white;
	}
  }
}

aside {
  h3 {
	color: @white;
	font-size: 100%;
	border-bottom: 1px solid @restonicRed;
	text-transform: uppercase;
  }
}

#background {
  color: #616265;
  font-family: @serifFontFamily;
  h2 {
	font-size: 2.4em;
	font-weight: 700;
  }


}

footer {
  .footer-logos {
	color: @grayDarker;
	font-size: .7em;
	line-height: 1.5em;
  }
}