.home {
  #bottom {
  	.container > .span5 {
	  color: @white;
	}
  }
}

header {
  .search-query {
    color: @black;
  }
}

.main-banner {
  .layout-slideshow {
    .sprocket-features-desc {
      background: transparent;
      color: #616265;
      font-family: @serifFontFamily;
      font-size: 2.733em;
      font-weight: bolder;
    }
  }
}

aside {
  h3 {
	color: @white;
	font-size: 100%;
	border-bottom: 1px solid @restonicRed;
	text-transform: uppercase;
  }
}

#background {
  color: #616265;
  font-family: @serifFontFamily;
  h2 {
	font-size: 2.4em;
	font-weight: 700;
  }
}

.awards-content {
  color: @grayDarker;
  font-size: .7em;
  line-height: 1.5em;
}

ul#restonicTabs {
  font-family: @altFontFamily;
}

footer {
  font-family: @altFontFamily;
}