<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="database"
        label="Database Connection"
        description="the database connection details">

        <field name="host" type="text" label="Database host" description="the host location of the mysql server" />
        <field name="db_user" type="text" label="Database user" description="the username for the db user" />
        <field name="db_password" type="text" label="DB Pass" description="The password for the database user" />
        <field name="db_name" type="text" label="Database name" description="the name of the database to connect too" />
    </fieldset>
</config>