*
{
  margin: 0;
  padding: 0;
}

body
{
  background-image: url('../images/locator_background.jpg');
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#ffffff;
}

#header
{
  position: relative;
  width: 899px;
  height: 109px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

#flash_menu
{
  position: absolute;
  background-image: url('../images/menu_background.jpg');
  width: 614px; 
  height: 109px;
  right: 285px;
  top: 0px;
  color: #FFFFFF;
  z-index: 5;
}

#flash_menu a
{
  color: #FFFFFF;
  text-decoration: none;
}

#flash_menu a:hover
{
  color: #E8D5A0;
  text-decoration: none;
}

#top_links
{
  margin-top: 20px;
  font-size: .7em;
}

#bottom_links
{
  margin-top: 40px;
  font-size: .9em;
}

#right_heading
{
  position: absolute;
  background-image: url('../images/t_head_03.jpg');
  width: 284px;
  height: 109px;
  right: 20px;
  top: 0px;
}

#right_heading img
{
  border: none;
}

#heading_link
{
  position: absolute;
  display: block;
  width: 284px;
  height: 109px;
  text-decoration: none;
}

#content
{
  position: relative;
  color: #FFFFFF;
  width: 826px;
  margin-left: auto;
  margin-right: auto;
}

#content a
{
  color: #C9A1AC;
  text-decoration: none;
}

#content a:hover
{
  color: #E8D5A0;
  text-decoration: none;
}



#right_column
{
  position: relative;
  width: 284px;
  float: right;
}

#right_links
{
  position: absolute;
  width: 200px;
  height: 300px;
  right: 0px;
  top: 100px;
  color: #C9A1AC;
  font-size: .9em;
  text-align: center;
}

#right_links a
{
  color: #C9A1AC;
  text-decoration: none;
}

#right_links a:hover
{
  color: #E8D5A0;
  text-decoration: none;
}

#comfort_care
{
  border-bottom: solid 1px #C9A1AC;
}

#grand
{
  border-bottom: solid 1px; #C9A1AC;
  margin-top: 20px;
}

#healthrest
{
  margin-top: 20px;
}

.spacing
{
  letter-spacing: 4px;
}

.small_links
{
  font-size: .8em;
}

#title
{
  border-bottom: solid 1px #E8D5A0;
  margin-top: 80px;
  margin-bottom: 20px;
  line-height: 1.5em;
}

#loader
{
  display: none;
}

#map_canvas
{
 /* position: relative;*/
  width: 500px;
  height: 300px;
  margin-top: 10px;
}

#results
{
  margin-top: 20px;
  width: 500px;
}

#results a
{
color: #ffffff;
text-decoration:underline;
font-weight: bold;
font-size: 1em;
}




#footer
{
  position: relative;
  color: #C9A1AC;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-size: .7em;
}

#footer a
{
  color: #C9A1AC;
  text-decoration: none;
}

#footer a:hover
{
  color: #E8D5A0;
  text-decoration: none;
}

